---
layout: none
title: Home
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">

      <header class="header-home">
          <img class="avatar" src="{{ site.avatar.url }}" alt="{{ site.avatar.alt }}" />
          <h1 class="hometitle">{{ site.title }}</h1>
          {% include social-links.html %}
     </header> 

     <nav class="homenav">
       <ul>
           <li><a href="about">About</a></li>
           <li><a href="blog">Blog</a></li>
       </ul>
     </nav>

    </div>

    {% include icons.html %}

  </body>
</html>
