@font-face {
    font-family: "Linux Libertine O";
    src: url("../fonts/LinLibertine_R.otf")
}

@font-face {
    font-family: "Linux Libertine O";
    font-weight: bold;
    src: url("../fonts/LinLibertine_RB.otf");
}

@font-face {
    font-family: "Linux Libertine O";
    font-style: italic;
    src: url("../fonts/LinLibertine_RI.otf");
}

@font-face {
    font-family: "Source Code Pro";
    src: url("../fonts/SourceCodePro-Regular.otf");
}

@font-face {
    font-family: "Fira Sans";
    src: url("../fonts/FiraSans-Regular.otf");
}

@font-face {
    font-family: "Fira Sans";
    font-weight: bold;
    src: url("../fonts/FiraSans-Medium.otf");
}
