@font-face {
    font-family: "Libertinus Serif";
    src: url("../fonts/libertinusserif-regular.otf");
}

@font-face {
    font-family: "Libertinus Serif";
    font-weight: bold;
    src: url("../fonts/libertinusserif-bold.otf");
}

@font-face {
    font-family: "Libertinus Serif";
    font-style: italic;
    src: url("../fonts/libertinusserif-italic.otf");
}

@font-face {
    font-family: "Libertinus Sans";
    src: url("../fonts/libertinussans-regular.otf");
}

@font-face {
    font-family: "Libertinus Sans";
    font-weight: bold;
    src: url("../fonts/libertinussans-bold.otf");
}

@font-face {
    font-family: "Source Code Pro";
    src: url("../fonts/SourceCodePro-Regular.otf");
}

@font-face {
    font-family: "Fira Sans Light";
    src: url("../fonts/FiraSans-Light.otf")
}
