// Import from Source Code Pro Regular from Adobe Fonts as source-code-pro
// font-family: source-code-pro, monospace;
// font-weight: 400;
// font-style: normal;

@import url("https://use.typekit.net/cbf6fai.css");

// Import Fira Sans and Zilla Slab from Mozilla CDN

@import url("https://code.cdn.mozilla.net/fonts/fira.css");
@import url("https://code.cdn.mozilla.net/fonts/zilla-slab.css");

// Add Libertinus Serif Italic, used for em elements alongside zilla-slab

@font-face {
    font-family: libertinus-serif-italic;
    font-style: italic;
    src: url("../fonts/libertinusserif-italic.otf");
}
// Fonts used:

// Source code blocks and inline code #####################
// @font-face {
//     font-family: "Source Code Pro";
// }

// All headers, main sans serif font ######################
// @font-face {
//     font-family: "Fira Sans";
// }
// Generally Semibold rather than bold#####################
// font-weight: 300;

// Main body font #########################################
// @font-face {
//     font-family: "Zilla Slab";
//     src: url("../fonts/ZillaSlab-Regular.otf");
// }
