// Styles for my home page

.header-home {
    display: block;
    margin-top: 8rem;
    text-align: center;
}

.avatar {
    width: 125px;
    margin: 0 auto;
    border-radius: 50%;
    transition: all .2s;
    box-shadow: 0;
    opacity: 1;
    &:hover {
        box-shadow: 0 0 .5rem .15rem rgba(0, 0, 0, 0.4);
        opacity: .8;
    }
}

.hometitle {
    margin: 1.5rem auto;
    font-size: 1.5rem;
}

nav.homenav {
    margin: 0 auto;
    text-align: center;
}
nav.homenav ul {
    list-style: none;
    padding: 0;
}

nav.homenav ul li {
    display: inline-block;
}

nav.homenav ul li a {
    color: #515151;
    font-size: .8rem;
    padding: 0 0.75em;
}
