// Styles for my home page

.header-home {
    display: block;
    margin-top: 8rem;
    margin-bottom: 1.6rem;
    text-align: center;
}

.avatar {
    width: 125px;
    margin: 0 auto;
    border-radius: 50%;
    transition: all .2s;
    box-shadow: 0;
    opacity: 1;
    &:hover {
        box-shadow: 0 0 .5rem .15rem rgba(0, 0, 0, 0.4);
        opacity: .8;
    }
}

.hometitle {
    margin: 1.5rem auto;
    font-size: 1.5rem;
}

nav.homenav {
    text-align: center;

    ul {
        font-family: $root-font-family;
        list-style: none;
        padding: 0;

        li {
            display: inline-block;

            a {
            color: $body-color;
            font-size: .85rem;
            font-weight: bold;
            padding: 0 0.75em;
            text-decoration: none;
            &:hover {
                color: $link-color;
            }
            }
        }
    }
}
