// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  font-family: $masthead-font-family;
  padding: 1rem 0;
  margin-bottom: 0;
  @media (min-width: $large-breakpoint) {
      margin-bottom: 1rem;
  }

  nav {
      display: inline-block;
      float: right;
      text-decoration: none;

      ul {
          list-style: none;
          font-family: inherit;
          margin-bottom: 0;

          li {
              display: inline-block;
              margin-left: .5rem;

              a {
                  color: $body-color;
                  font-size: .75rem;
                  font-weight: bold;
                  text-decoration: none;
                  &:hover {
                      color: #b14444;
                  }
              }
          }
      }
  }
}

.masthead-title {
  font-size: 1rem;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;

  a {
    color: $body-color;
    text-decoration:none;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}
