// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #8a8a8a;
  background-color: $code-bg-color;
  font-family: $root-font-family;
  font-size: 0.9rem;
  border-radius: 3px;
  border: 1px solid $code-border-color;
  strong {
      font-size: 0.9rem;
  }
  code {
      background-color: #efefef;
  }
}
