// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
    max-width: 25rem;
    margin: 0 auto;
}

.pagination-item {
    display: inline-block;
    text-align: right;
    font-size: 0.95rem;
    width: 49%;
    i {
        font-size: 0.75rem;
    }
    span {
        color: #eee;
    }
    a {
        color: $body-color;
        &:hover {
            color: $link-color;
            text-decoration: none;
        }
    }
    &:first-child {
        text-align: left;
    }
}
@media (min-width: $large-breakpoint) {
  .pagination {
  }

  .pagination-item {
  }
}
