// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  overflow: hidden; // clearfix
  color: #eee;
  text-align: center;
  font-size: 0.95rem;
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  display: block;
  i {
      font-size: 0.75rem;
  }
}

// Only provide a hover state for linked pagination items
a.pagination-item {
    color: $body-color;
    &:hover {
        color: $link-color;
        text-decoration: none;
    }
}

@media (min-width: 30em) {
  .pagination {
  }

  .pagination-item {
    float: left;
    width: 50%;
  }
}
