// Typography
//
// Headings, body text, lists, and other misc typographic elements.

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 1.8rem;
  font-weight: normal;
}

h2 {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: normal;
}

h3, h4, h5, h6 {
  font-size: 0.85rem;
  font-weight: 500;
}

p {
  font-family: $body-font-family;
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol, dl {
  font-family: $body-font-family;
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.1rem 0 1.5rem 0;
  border: 1px solid $code-border-color;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
  }
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}


// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

.footnote-processed {
    margin-bottom: 1.3rem;
    p {
        margin-bottom: 0.5rem;
    }
}

.footnote-ref {
    font-size: .85rem;
    color: $body-color;
    margin-left: .08rem;
    text-decoration: none;
    border: none;
    sup {
        position: relative;
        top: .1rem;
        font-family: $code-font-family;
        font-size: 80%;
        border: 1px solid $body-color;
        padding: 0 .15rem;
        &:hover {
            color: $body-bg;
            background-color: $body-color;
        }
        @media (min-width: $large-breakpoint) {
            font-size: 60%;
        }
    }
    &:focus,
    &:hover {
        border: none;
    }
}

.footnote-back {
    visibility: hidden;
    margin-left: .2rem;
    text-decoration: none;
    position: relative;
    top: 0.1rem;
    border: 0;
    &:focus,
    &:hover {
        border: none;
        color: $link-color;
    }
    &::before {
        visibility: visible;
        content: "\21A9";
    }
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}

// Custom type
//
// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

// PAGE NOT FOUND
.pnf {
    display: block;
    margin: 3rem 0;
    line-height: 0.9;
    font-size: 0.25rem;
    width: 452px;

    @media (min-width: $large-breakpoint) {
        width: 452px;
    }
    @media (min-width: 480px) {
        font-size: 0.4rem;
        width: 547px;
    }
    @media (min-width: 720px) {
        font-size: 0.5rem;
        width: 684px;
    }
}

// MESSAGE CLASS MADE INTO ASIDE

aside {
    font-family: $body-font-family;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #545454;
    background-color: $code-bg-color;
    font-size: 0.9rem;
    border-radius: 3px;
    border: 1px solid $code-border-color;
    border-radius: 0.5em;
    line-height: 1.5;
    code {
        background-color: #efefef;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

article p em {
    font-family: libertinus-serif-italic, zilla-slab, serif;
    font-size: 105%;
    font-style: italic;
    line-height: 92%;
    margin-right: 0.07rem;
}
