$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #0a79b6;
// $blue: #6a9fb5;
$brown: #8f5536;

$root-font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui", "helvetica neue", helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$root-font-size: 16.5px;
$root-line-height: 1.7;

$body-color: #000;
$body-bg: #fff;
$body-font-family: "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$link-color: #b60000;

$border-color: #e5e5e5;

$large-breakpoint: 38rem;
$large-font-size: 20px;

$code-font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
$code-color: $body-color;
$code-bg-color: #f9f9f9;
$code-border-color: #f0f0f0;
