$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #0a79b6;
// $blue: #6a9fb5;
$brown: #8f5536;

$root-font-family: "Fira Sans", "Helvetica Neue", sans-serif;
$root-font-size: 16.5px;
$root-line-height: 1.7;

$body-color: #313131;
$body-bg: #fff;
$body-font-family: "Zilla Slab", "Georgia", serif;
$link-color: #b14444;

$masthead-font-family: "Fira Sans Light", "Helvetica Neue", Arial, sans-serif;

$border-color: #e5e5e5;

$large-breakpoint: 38rem;
$large-font-size: 20px;

$code-font-family: "Source Code Pro", "Courier New", monospace;
$code-color: $body-color;
$code-bg-color: #f9f9f9;
$code-border-color: #f0f0f0;
