---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: '%B %d, %Y' }}</time>
  {% unless page.noledeinside %}
  <p class="post-lede">{{ page.lede | textilize }}</p>
  <hr>
  {% endunless %}
  {{ content }}
</article>
{% unless page.nocomment %}
<hr>
<p class="commentbyemail"><a href="mailto:{{ site.comment_to_email }}?subject={{ page.title | uri_escape }}">Discuss this post via email</a></p>
{% endunless %}

{% unless site.no_related_posts or page.no_related_posts %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%B %d, %Y' }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endunless %}
